.app-bar {
  font-family: $font-secondary;
  @include elevation(1);

  // position: sticky;
  // top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background: $color-primary;
  color: #fff;

  &__menu {
    margin-right: 12px;
    font-size: 1.2rem;
  }

  &__title a {
    text-decoration: none;
    color: inherit;
  }

  &__search input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: none;
  }

  &__search {
    position: relative;
    padding: 4px 12px;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
  }

  &__suggestions {
    position: absolute;
    z-index: 10;
    background: #fff;
    color: $font-color-light;
    font-size: 13px;
    padding: 12px;
    @include elevation(2);
    left: 0;
    right: 0;

    a {
      display: block;
      text-decoration: none;
      color: inherit;
    }
  }

  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
  }
}