.comment {
  font-size: 1rem;
  
  & + & {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid rgba(0, 0, 0, .05);
  }

  &__header {
    font-family: $font-secondary;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: .8rem;
    color: $font-color-light;

    div + div {
      margin-left: 8px;
    }
  }

  &__score {
    font-size: 1rem;
  }

  &__body {
    margin: 8px 0 12px;
  }

  &__replies {
    padding-left: 16px;
    border-left: 2px solid rgba(0, 0, 0, .12);
  }
}