.drawer-layout {
  // The main content on the right of the navigation drawer
  &__content {
    display: flex;
    flex-direction: row;

    .app-bar {
      position: sticky;
      top: 0;
      margin-bottom: 0;
      z-index: 1000;
      @include elevation(1);
    }
  }

  // Page is the main content, reader is the
  // iframe for reading links in the app
  &__page, &__reader {
    flex: 1;
    height: 100vh;
    overflow: scroll;
    display: block;
  }

  &__reader {
    border-left: 4px double #d1d2d3;
  }



  &__drawer {
    background: #fff;
    z-index: 10;
  }

  @media (max-width: $bp-tablet) {
    $drawer-width: 256px;
    overflow-x: hidden;

    &__drawer {
      position: fixed;
      top: 0;
      left: (-$drawer-width);
      width: $drawer-width;
      height: 100vh;
    }

    &__content {
      position: relative;
      left: 0;
    }

    &__drawer,
    &__content,
    .page-subreddit .tabs__header {
      transition: left .3s ease-in-out;
    }

    &--open {
      .drawer-layout__drawer {
        left: 0;
      }

      .drawer-layout__content,
      .page-subreddit .tabs__header {
        left: $drawer-width;
        width: 100vw;
      }
    }
  }


  @media (min-width: $bp-tablet) {
    $drawer-width: 256px;
    display: flex;
    flex-direction: row;

    .drawer-layout__drawer {
      width: $drawer-width;
    }

    .drawer-layout__content {
      flex: 1;
    }
  }
}