.drawer {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  border-right: 1px solid #d1d2d3;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    position: relative;
    position: sticky;
    top: 0;
    display: flex;
    min-height: 150px;
    background: shade($color-primary, 20%);
    overflow: hidden;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &::before {
      background: tint($color-primary, 66%);
      opacity: .8;
      transform: rotate(-45deg) scaleX(1.5);
    }

    &::after {
      background: shade($color-primary, 99%);
      opacity: .3;
      transform: rotate(45deg) scaleY(1.5);
    }
  }

  &__me {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    padding: 16px;
    color: #fff;
    text-align: center;

    .drawer__me__avatar {
      display: block;
      margin: auto;
      max-width: 100px;
      border-radius: 50%;
      margin-bottom: 12px;

      &--default {
        width: 64px;
        height: 64px;
        display: flex;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, .5);
      }
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  &__content {
    padding: 16px;
    flex: 1;
    overflow: scroll;
  }

  &__section {
    div {
      text-transform: uppercase;
      font-family: $font-secondary;
      letter-spacing: 0.1rem;
    }
    
    a {
      font-size: 14px;
      display: block;
    }

    & + & {
      margin-top: 16px;
      padding-top: 16px;
      border-top: 1px solid #d1d2d3;
    }
  }
}