.thing-meta {
  font-size: 14px;
  color: $font-color-light;
  align-items: baseline;
  display: flex;
  flex-direction: row;

  &__score {
    font-size: 18px;
  }

  > div {
    margin-right: 8px;
  }
}

.fab {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: $color-accent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;

  &:visited {
    color: #fff;
  }

  svg {
    position: relative;
    top: -1px;
  }
  @include elevation(1);
}