.post-item {
  @include elevation(1);
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 4px;

  & + & {
    margin-top: 12px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-right: 1px solid #d1d2d3;
    font-size: 20px;

    > * {
      flex: 1;
      cursor: pointer;
      color: #bcbcbc;
    }

    &--active {
      color: $color-primary;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding: 12px;
    flex: 1;
  }

  &__header,
  &__footer {
    font-family: $font-secondary;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 75%;
    color: $font-color-light;

    div + div {
      margin-left: 12px;
    }
  }

  &__score {
    font-size: 125%;
  }

  &__content {
    &--image,
    &--link,
    &--self,
    &--video {
      margin: 12px 0;
    }

    &--link,
    &--video,
    &--image {
      display: flex;
      flex-direction: row;
      align-items: center;

      > :first-child {
        background-size: cover;
        height: 70px;
        width: 70px;
      }

      > :last-child {
        flex: 1;
        margin-left: 16px;
      }
    }
  }

  &__title a {
    text-decoration: none;
    color: inherit;
  }
}