.post {
  &__content,
  &__comments {
    margin: 24px auto;
    width: 95%;
    max-width: $max-width;
    background: #fff;
    padding: 16px;
    box-sizing: border-box;
  }

  &__content {
    @include elevation(2);
  }

  &__comments {
    @include elevation(1);
  }

  &__body {
    font-size: 14px;
  }

  .thread-header {
    margin: 8px 0;
  }

  &__media {
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -16px;
    
    iframe {
      display: block;
    }
  }
}