.subreddit {
  &__header {
    padding: 16px;
    background: #fff;
    
    h1 {
      text-transform: uppercase;
      font-size: 1.3rem;
    }
  }

  &__information {
    font-size: 0.85rem;
    color: #bcbcbc;

    div {
      display: inline-block;

      & + div {
        margin-left: 8px;

        &::before {
          content: '•';
          margin-right: 8px;
        }
      }
    }

    span {
      font-size: 1rem;
      color: $font-color;
    }
  }

  .tabs__header {
    background: #fff;
    color: $font-color;

    @media (max-width: $bp-tablet) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }

    @media (min-width: $bp-tablet) {
      position: sticky;
      top: 61px;

      box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    padding: 12px;

    svg {
      color: #bcbcbc;
      font-size: 24px;
      cursor: pointer;
    }

    svg + svg {
      margin-left: 12px;
    }
  }

  &__post-list {
    margin: auto;
    max-width: $max-width;
  }

  .post-item {
    margin-top: 8px;
  }
}