.subreddit {
  &__header {
    background: $color-primary;

    h1 {
      padding: 16px;
      z-index: 10;
      text-transform: uppercase;
      color: #fff;
      font-size: 2rem;
    }
  }

  &__cover {
    min-height: 175px;
    background-size: cover;
  }

  &__post-list {
    width: 95%;
    margin: auto;
    max-width: $max-width;
  }
}