.tabs {
  &__header {
    background: $color-primary;
    color: #fff;
    display: flex;
    flex-direction: row;

    > div {
      flex: 1;
      text-transform: uppercase;
      font-family: $font-secondary;
      text-align: center;
      cursor: pointer;
      padding: 16px;
      border-bottom: 4px solid transparent;
      transition: border-bottom .2s ease-in;

      & + div {
        border-left: 1px solid rgba(0, 0, 0, .05);
      }
    }

    .tabs__title--active {
      border-bottom: 4px solid rgba(255, 255, 255, .7);
    }
  }
}